*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #edf6ff;
}

.nav-main{
    max-height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
   background: rgba(237, 246, 255, 1);
    padding-left: 5%;
    padding-right: 30%;
    display: flex;
    border-bottom: 4px solid #022445;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.nav-logo{
    max-width: 200px;
    max-height: 65px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.nav-logo img{
    width: 100%;
    height: auto;
    max-height: 65px;
}

.nav-links a{
    margin-right: 2rem;
    color: #022445;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.nav-links a:hover{
    color: #046ff2;
}

.nav-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #022445;
}

@media (max-width: 950px) {
    .nav-links {
        display: none;  
        flex-direction: column;
        position: absolute;
        top: 80px;  
        left: 0;
        width: 100%;
        background-color: #edf6ff;
        text-align: center;
        padding: 20px 0;
        z-index: 999;
    }
    .nav-links a {
        margin: 10px 0;
    }
    .nav-toggle {
        display: block;
    }
}

.nav-links.active { 
    display: flex; 
}

/* nav end */

body{
    background-color: #ffffff;
}


 .about-heading{
    text-align: center;
 }

 .about-heading h1{
    font-size: 3rem;
    font-weight: 700;
    color: #022445;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    padding: 7% 0;
 }

 .about-heading h1::before{
    content: "-:";
    margin-right: 8px;
    color: #046ff2;
}

.about-heading h1::after{
    content: ":-";
    margin-left: 8px;
    color: #046ff2;
}

.about-left-heading{
    text-align: center;
}

.about-left-heading h2{
    position: relative;
        display: inline-block;
        color: #022445;
        margin-bottom: 2rem;
        font-size: 40px;
        margin: 5%;
}

.about-left-heading h2::before{
    content: '';
    position: absolute;
    top: 130%;
    left: 11%;
    width: 10rem;
    border-radius: 30px;
    height: 4px;
    background: #046ff2;
}

.about-right-heading{
    text-align: center;
}

.about-right-heading h2{
    position: relative;
        display: inline-block;
        color: #022445;
        margin-bottom: 2rem;
        font-size: 40px;
        margin: 5%;
}

.about-right-heading h2::before{
    content: '';
    position: absolute;
    top: 130%;
    left: 14%;
    width: 13rem;
    border-radius: 30px;
    height: 4px;
    background: #046ff2;
}

/* About Section */
        .about-main {
            padding: 0 7%;
            display: flex;
            justify-content: center;
            gap: 4rem;
            padding-bottom: 5%;
        }
        .about-left{
            width: 40%;

            text-align: start;
        }

        .about-left p{
            letter-spacing: 0.3px;
            width: 100%;
        }

        .about-right{
            width: 40%;
            
            border-radius: 20px;

        }

        .about-right img{
            width: 100%;
            height: auto;
            border-radius: 20px;
            object-fit: cover;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

        }

        @media(max-width:1000px){
            .about-main{
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                padding: 0 7%;
            }

            .about-left , .about-right{
                width: 90%;
                margin-top: 10px;
            }
        }

        


        

        /* Services Section */

        .service-heading{
            text-align: center;
        }

        .service-heading h2{
             position: relative;
        display: inline-block;
        color: #022445;
        margin-bottom: 2rem;
        font-size: 40px;
        margin: 5%;
        }

        .service-heading h2::before{
            content: '';
    position: absolute;
    top: 130%;
    left: 11%;
    width: 11rem;
    border-radius: 30px;
    height: 4px;
    background: #046ff2;
        }

        .services {
            padding: 80px 20px;
            text-align: center;
        }

        .service-cards {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            flex-wrap: wrap;
        }

        .card {
            background: #edf6ff;
            padding: 30px;
            border-radius: 20px;
            width: 250px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .card img {
            max-width: 100px;
            margin-bottom: 20px;
            margin: auto;
        }

        .card h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: #022445;
        }

        .card p {
            font-size: 1em;
            color: #022445
        }



        @media (max-width: 900px) {
            .service-cards {
                flex-direction: column;
                align-items: center;
            }
        }



         /* footer start */

.footer-top{
    min-height: 300px;
    height: auto;
    background-color: #022445;
    color: #edf6ff;
    display: flex;
    justify-content: space-around;
    padding: 0 15%;
    align-items: center;
    gap: 4rem;
}

.footer-logo{
    max-width: 200px;
    max-height: 70px;
}

.footer-logo img{
    width: 100%;
    height: auto;
    max-height: 70px;
}

.footer-left i{
font-size: 2rem;
margin-left: 3rem;
}

.footer-left p{
    font-size: 1.2rem;
    margin-top: 4px;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-links a{
    text-decoration: none !important;
    margin-top: 0.8rem;
    color: #edf6ff;
}

.footer-bottom{
    min-height: 70px;
    border-top: 2px solid #046ff2;
    background: #022445;
}

.footer-bottom p{
    text-align: center;
    color: #edf6ff;
    margin-top: 1.5rem;
}

@media(max-width:480px){
    .footer-left i{
        font-size: 1.5rem;
    }

    .footer-left p{
        font-size: 1rem;
    }

    .footer-top{
        padding: 0;
        gap: 3rem;
    }
}